/*this is where i'd put my styles
IF I HAD ANY
just kidding here's some basic styles*/

h1, p {
	font-family:Verdana, sans-serif;
	color:#ffffff;
}

h1 {
	font-size:36px;
}

p {
	font-size:14px;
	line-height: 1.6;
}

.wrapper {
	text-align:center;
	background:black;
	width:25%;
	padding:30px;
	margin:0 auto;
}