/*this is where i'd put my styles
IF I HAD ANY
just kidding here's some basic styles*/

h1, p {
	font-family:Verdana, sans-serif;
	color:#ffffff;
}

h1 {
	font-size:36px;
}

p {
	font-size:14px;
	line-height: 1.6;
}

.wrapper {
	text-align:center;
	background:black;
	width:400px;
	padding:30px;
	margin:0 auto;
}

.synopsis {
	width:90%;
	background:#777;
	margin:0 auto;
	padding:10px;
}

.newwrapper {
	width:600px;
	background:pink;
}

.newwrapper .callout {
	background:black;
	width:90%;
}